## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[11, 2, 13, 12, 98, 80, 57, 55, 83, 67, 58, 45, 24, 50, 41, 88, 20, 77, 43, 65, 92, 79, 5, 3, 7, 60, 62, 37, 47, 82, 52, 97, 64, 35, 86, 48, 78, 19, 73, 90, 76, 81, 63, 95, 99, 1, 39, 51, 91, 23, 40, 87, 32, 71, 68, 38, 36, 28, 10, 46, 84, 9, 33, 42, 49, 34, 69, 56, 31, 70, 18, 4, 29, 93, 16, 72, 89, 66, 21, 25]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1)) # yes, its length is still 80

{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 16, 18, 19, 20, 21, 23, 24, 25, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [13]:
# Your code here
def randrange(range):
    return random.randint(0, range)
    
sample_list_2 = []
for i in range(80):
    result_range = randrange(100)
    sample_list_2.append(result_range)
print(sample_list_2)

[25, 93, 93, 30, 80, 60, 92, 18, 14, 52, 88, 75, 97, 17, 76, 93, 89, 67, 50, 33, 16, 15, 58, 95, 43, 87, 58, 48, 2, 30, 4, 91, 97, 75, 52, 15, 62, 65, 39, 6, 9, 10, 65, 93, 11, 58, 99, 84, 22, 15, 89, 27, 64, 77, 14, 4, 15, 8, 71, 47, 18, 99, 48, 9, 7, 16, 96, 100, 40, 77, 97, 84, 89, 75, 88, 27, 33, 65, 13, 15]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 = set(sample_list_2)
print(len(set2)) # The set's length is no longer 80, as the list it comes from has repeated values in it

49

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [15]:
# Your code here
set3 = set1 - set2
print(set3)

{1, 3, 5, 12, 19, 20, 21, 23, 24, 28, 29, 31, 32, 34, 35, 36, 37, 38, 41, 42, 45, 46, 49, 51, 55, 56, 57, 63, 66, 68, 69, 70, 72, 73, 78, 79, 81, 82, 83, 86, 90, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
# Your code here
set4 = set2 - set1
print(set4)

{96, 100, 6, 8, 75, 14, 15, 17, 22, 27, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [17]:
# Your code here
set5 = set1 & set2
print(set5)

{2, 4, 7, 9, 10, 11, 13, 16, 18, 25, 33, 39, 40, 43, 47, 48, 50, 52, 58, 60, 62, 64, 65, 67, 71, 76, 77, 80, 84, 87, 88, 89, 91, 92, 93, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [21]:
# Your code here
# len(set1) is 80
# len(set2) is 49
# len(set3) is 42
# len(set4) is 11 = len(set2) - len(set5)
# len(set5) is 38 = len(set1) - len(set3)

#### Create an empty set called `set6`.

In [23]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [25]:
# Your code here
set6.update(set3, set5)

{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 16, 18, 19, 20, 21, 23, 24, 25, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [27]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [31]:
# Your code here
print('Does set1 contain set2?', set2.issubset(set1))
print('Does set1 contain set3?', set3.issubset(set1))

Does set1 contain set2? False
Does set1 contain set3? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [32]:
# Your code here
set3 | set4 | set5 == set1 | set2

True

#### Using the `pop` method, remove the first element from `set1`.

In [34]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [37]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 7, 10, 12, 13, 16, 18, 20, 23, 24, 25, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 95, 97, 98}